/* line 43, Users/nhatlinh/Desktop/3-D-Carousel-master/styles.scss */
body {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #121721, #000);
  font: 1em verdana, sans-serif; }

/* line 53, Users/nhatlinh/Desktop/3-D-Carousel-master/styles.scss */
[id='toggle-heart'] {
  position: absolute;
  left: -100vw; }
  /* line 57, Users/nhatlinh/Desktop/3-D-Carousel-master/styles.scss */
  [id='toggle-heart']:checked + label {
    color: #e2264d;
    filter: none;
    will-change: font-size;
    animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49); }
    /* line 63, Users/nhatlinh/Desktop/3-D-Carousel-master/styles.scss */
    [id='toggle-heart']:checked + label:before, [id='toggle-heart']:checked + label:after {
      animation: inherit;
      animation-timing-function: ease-out; }
    /* line 68, Users/nhatlinh/Desktop/3-D-Carousel-master/styles.scss */
    [id='toggle-heart']:checked + label:before {
      will-change: transform, border-width, border-color;
      animation-name: bubble; }
    /* line 73, Users/nhatlinh/Desktop/3-D-Carousel-master/styles.scss */
    [id='toggle-heart']:checked + label:after {
      will-change: opacity, box-shadow;
      animation-name: sparkles; }
  /* line 79, Users/nhatlinh/Desktop/3-D-Carousel-master/styles.scss */
  [id='toggle-heart']:focus + label {
    text-shadow: 0 0 3px white,  0 1px 1px white, 0 -1px 1px white,  1px 0 1px white, -1px 0 1px white; }

/* line 86, Users/nhatlinh/Desktop/3-D-Carousel-master/styles.scss */
[for='toggle-heart'] {
  align-self: center;
  position: relative;
  color: #888;
  font-size: 2em;
  filter: grayscale(1);
  user-select: none;
  cursor: pointer; }
  /* line 95, Users/nhatlinh/Desktop/3-D-Carousel-master/styles.scss */
  [for='toggle-heart']:before, [for='toggle-heart']:after {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    content: ''; }
  /* line 103, Users/nhatlinh/Desktop/3-D-Carousel-master/styles.scss */
  [for='toggle-heart']:before {
    box-sizing: border-box;
    margin: -2.25rem;
    border: solid 2.25rem #e2264d;
    width: 4.5rem;
    height: 4.5rem;
    transform: scale(0); }
  /* line 111, Users/nhatlinh/Desktop/3-D-Carousel-master/styles.scss */
  [for='toggle-heart']:after {
    margin: -0.1875rem;
    width: 0.375rem;
    height: 0.375rem; }

@keyframes heart {
  0%, 17.5% {
    font-size: 0; } }

@keyframes bubble {
  15% {
    transform: scale(1);
    border-color: #cc8ef5;
    border-width: 2.25rem; }
  30%, 100% {
    transform: scale(1);
    border-color: #cc8ef5;
    border-width: 0; } }

@keyframes sparkles {
  0%, 20% {
    opacity: 0; }
  25% {
    opacity: 1; } }
